 
    app-search{
        margin: 0 auto;
    }

    .error{
        width: 700px;
        width: 700px;
        margin: 100px auto;
    }

    .container{
        width: 70%;
        margin: 0 auto;
    }
 